.estilo-body{

    margin-left: 20px;
    margin-right: 20px;
}

.estilo-navbar-botao{

    background-color: #40026C; 
    border: #40026C;
}
.estilo-texto{
    color: #fff
}

.btn-primary-trab{
    background-color: #40026C; 
    border: #40026C;
    color: #fff
}


